body {
  font-family: "Quicksand";
}

.nav-container {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.navbar-collapse .btn-primary {
  background: #fbe0dc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 50px 20px 20px;
  margin-left: 30px;
  border-color: #fbe0dc !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #272042;
  padding: 14px 30px;
}

.btn-primary:hover {
  background: #272042 !important;
  border-color: #272042 !important;
  color: #fbe0dc;
}

.hero {
  margin-top: 100px;
}

.hero h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 70px;
  color: #272042;
}

.hero h1 span {
  /* background: #fbe0dc;
  border-radius: 100px;*/
  /* height: 10px;
  text-decoration: none;
  border-bottom: 2px solid #2c82c9;
  border-radius: 10px; */
}

.hero p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: #8b8ba5;
  margin-bottom: 40px;
}

.hero .btn-primary {
  background: #f7c531;
  border-radius: 35px 35px 20px 20px;
  padding: 10px 40px;
  border-color: #f7c531;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #272042;
}

.hero .btn-primary:hover {
  background: #272042;
  color: #f7c531;
}

.watch-now {
  margin-top: 90px;
}

.heading-text h6 {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #8b8ba5;
}

.heading-text p {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #272042;
}

.watch-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.watch-list p {
  margin-right: 55px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #272042;
}

.watch-list .active {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #f7c531;
  border-bottom: 2px solid #f7c531;
  padding-bottom: 15px;
}

.video-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video-list .item {
  margin-right: 15px;
  margin-left: 15px;
  width: 287px;
}
